
# NUNCA vai para o GitHub
src/main/resources/application.properties

# Compilados e IDE
target/
*.class
*.jar
.idea/
*.iml
.vscode

# Credenciais locais
*.properties.local
.env
.env.local

# IDE
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# OS
.DS_Store
Thumbs.db
